<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HoppyHour</title>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/app.css">
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "{{google_maps_api_key}}",
          v: "weekly",
          // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
          // Add other bootstrap parameters as needed, using camel case.
        });
      </script>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a href="/" class="navbar-brand"><img src="/static/favicon.png" alt="favicon" width="30px">HoppyHour</a>
            <div class="navbar-nav">
                {% if not g.user %}
                    <a href="/login" class="nav-link">Login</a>
                {% else %}
                    <a href="/edit" class="nav-link">{{g.user.username}}</a>
                    <a href="/logout" class="nav-link">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="text-center text-lg-start bg-light text-muted flex-shrink-0 flex-grow-0 flex-basis-50px mt-auto">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us:</span>
            </div>
            <div>
                </a>
                <a href="https://www.linkedin.com/in/andrew-morrison-a19533aa/" target="_blank" class="me-4 text-reset remove-under">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/theandrewmo/hoppyhour" target="_blank" class="me-4 text-reset remove-under">
                  <i class="fa-brands fa-github"></i>
                </a>
              </div>
        </section>
        <section>
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase">
                            <a href="/" class="navbar-brand"><img src="/static/favicon.png" alt="favicon" width="30px">HoppyHour</a>
                        </h6>
                        <p>
                            The Brewery Search App is a web application that allows users to search for breweries by various methods. 
                            With its intuitive interface and advanced filtering options, the app provides users with a seamless and enjoyable search experience.
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Tech Used
                        </h6>
                        <p><a href="https://www.python.org/" target="_blank" class="text-reset">Python</a></p>
                        <p><a href="https://flask.palletsprojects.com/en/2.3.x/"target="_blank" class="text-reset">Flask</a></p>
                        <p><a href="https://render.com/" target="_blank" class="text-reset">Render</a></p>
                        <p><a href="https://www.postgresql.org/" target="_blank" class="text-reset">PostgreSQL</a></p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Links
                        </h6>
                        <p><a href="https://chrome.google.com/webstore/detail/hoppyhour/dibbcpcjlfcdedlmdgcbmfhhicdaonfc" target="_blank" class="text-reset">Get the chrome extension</a></p>
                        <p><a href="https://www.openbrewerydb.org/" target="_blank" class="text-reset">See the API</a></p>
                        <p></p>
                        <p></p>
                    </div>
                </div>

            </div>
        </section>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/app.js"></script>

</body>
</html>