{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center text-center hero"> 
    <div class="main-search col-md-7 my-3">
        <h2 class="text-white">Find A Brewery 
            <div class="my-3">  
                <form method="POST" class="selector">
                    {{ form.hidden_tag() }}

                    {% for field in form if field.widget.input_type != 'hidden' %}
                        {% for error in field.errors %}
                        <span class="text-danger">{{error}}</span>
                        {% endfor %}
                        {{ field(placeholder=field.label.text, class='form-select text-center') }}
                    {% endfor %}
                </form>
            </div>
        </h2>
        <div class="my-3">
            <form class="find-brewery">
                {{ form2.hidden_tag() }}
    
                {% for field in form2 if field.widget.input_type != 'hidden' %}
                    {% for error in field.errors %}
                    <span class="text-danger">{{error}}</span>
                    {% endfor %}
                    {{ field(placeholder='Enter a keyword', class='form-control text-center') }}
                {% endfor %}
                <button class="btn btn-primary my-3">Search</button>
            </form>
        </div> 
    </div>
</div>
<div class="container text-center my-4" id="recent-reviews"> 
    <h4 class="mt-4" id="recent-reviews-header">Recent Reviews</h4>
    <div class="">
        {% for review in recent_reviews %}
        <div class="my-5 mx-2 p-1 bg-light border border-dark rounded">
            <a href="/breweries/{{ review.brewery.api_id }}"><h5>{{ review.brewery.name }}</h5></a>

            {% for num in range(review.rating) %}
            <span><i class="fa-regular fa-star"></i></span>
            {% endfor %}
            <p class="mt-2">{{ review.description }}</p> 
            <p class="fst-italic">{{ review.user.username }} - {{review.timestamp}}</p>
        </div>
    {% endfor %}
    </div>
</div>
<div class="row justify-content-center text-center"> 
    <h4 class="mt-4 d-none" id="results-header">Breweries</h4>
    <div class="results">
        
    </div>
</div>

{% endblock %}